<section class="contact">
    <div class="container-fluid  ">
    <!--contact form-->
      <div class="contactMe">
        <h1>Contact Form:</h1>
        <div class="formContainer">
         
            <form action="https://formsubmit.co/indira.majumder1707@gmail.com" method="post">
                <input type="text" name="name" placeholder="Name" id="name" required>
                <input type="email" name="email" placeholder="Email-id"  id="email" required>
                <input type="text" name="subject" placeholder="Subject"  id="subject" required>
                <textarea name="Message"  cols="30" rows="5" placeholder="Message" required></textarea>
                <input type="hidden" name="_next" value="http://localhost:4200/contact">
                <input type="hidden" name="_captcha" value="false">
                
                <input type="hidden" name="_template" value="table">
                <button class="btn btn-outline-primary mt-2" type="submit">Send message <span><img src="./assets/send.png"  alt=""></span></button>

            </form>
            
       
        </div>
      </div>
      <!--Contact details-->
      <div class="contact-item">
        <h1 >Contact Information :</h1>
        <div class="contactContainer">
          <p><span> <img src="./assets/icons8-call-48.png" alt=""></span> 7890435082</p>
          <p><span> <img src="./assets/icons8-whatsapp-48.png" alt=""></span> 7890435082</p>
          <p><span> <img src="./assets/icons8-gmail-48.png" alt=""></span> indira.majumder1707@gmail.com</p>
          <p><span> <img src="./assets/icons8-linkedin-48.png" alt=""></span>  <a href="https://www.linkedin.com/in/jyotishree-majumder-b20861172/" target="_blank">https://www.linkedin.com/in/jyotishree-majumder-b20861172/</a>
          </p>
          
        </div>
       
      </div>

     
    </div>
    
    <h2 class="text-standard ">Thank You for visiting my profile. <br>
      <span><p class="text-standard">Hope we will meet soon ...</p></span>
    </h2>
    
</section>
