<section class="portfolio">
    <div class="container-fluid">
        <h1>Some of my Words are :</h1>

        <div class="PortfolioDetails ">
            <div class="items">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/uiLogin.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Demo Website</h5>
                      <p class="card-text">Angular 15, HTML, SCSS, Bootstrap, DataTable etc.</p>
                      <a href="https://github.com/JyotishreeM/Website" class="btn btn-primary">See Details</a>
                    </div>
                  </div>
            </div>
            <div class="items">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/screencapture-localhost-58361-2023-08-24-17_21_47 (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Simple Login system</h5>
                      <p class="card-text">Angular 16, HTML, SCSS, Bootstrap etc.</p>
                      <a href="https://github.com/JyotishreeM/simpleLoginSystem" class="btn btn-primary">See Details</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
