section{
    .container-fluid{
      
       
            padding:6rem;
            h1{
                color:antiquewhite;
                font-size: 56px;
            }
          
            p{
                color:#819d81;
            }
        
    }
}