<section class="about">
    <div class="container-fluid ">
        <!--objective-->
        <div class="objective">
            <h1> A Little bit about myself :</h1>
            <p>I am a frontend Developer having 3 . 3 years of total experience. <br>
                Total IT experience : 1 . 11 years <br>
                Angular experience : 1 . 3 years
            </p>
            <h4>Language Known :</h4>
            <ul>
                <li>Bengali (Native)</li>
                <li>English (Professional)</li>
                <li>Hindi (Professional)</li>
            </ul>
        </div>
        <!--education-->
        <div class="education-details pt-3">
            <h1>Education Details : </h1>
            <Table class="table table-striped">
               <thead>
                    <th>Degree</th>
                    <th>Trade</th>
                    <th>Institute/University</th>
                    <th>pass out year</th>
               </thead>
               <tbody>
                <tr>
                    <td>B.tech</td>
                    <td>ECE</td>
                    <td>Heritage Institute of Technology,Kolkata</td>
                    <td>2018</td>
                </tr>
                <tr>
                    <td>Diploma</td>
                    <td>ETCE</td>
                    <td>A.J.C Bose Polytechnic</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>Higher Secondary examination</td>
                    <td>Science</td>
                    <td>Sukchar Satadal Balika Vidyayatan</td>
                    <td>2012</td>
                </tr>
                <tr>
                    <td>Secondary Examination</td>
                    <td></td>
                    <td>Sukchar Satadal Balika Vidyayatan</td>
                    <td>2010</td>
                </tr>
               </tbody>
            </Table>
        </div>
    </div>
</section>
