<div class="container-fluid d-flex p-0 m-0">
   <aside>
      <!--logo section-->
    <div class="logo pt-2 ">
       <div class="image d-flex  justify-content-center"> 
            <img src="./assets/profile photo.jpeg" alt="">
           
        </div>
        <p class="text-center pb-1 w-600">Jyotishree Majumder</p>
       
    </div>
    <!--navbar section-->
    <nav>
      <ul>
         <li>
            <a class="nav-item" routerLink="./">Home</a>
         </li>
         <li>
            <a class="nav-item" routerLink="./about">About</a>
         </li>
         <li>
            <a class="nav-item" routerLink="./skills">Skills</a>
         </li>
         <li>
            <a class="nav-item" routerLink="./work">My Work</a>
         </li>
         <li>
            <a class="nav-item" routerLink="./portfolio">Portfolio</a>
         </li>
         <li>
            <a class="nav-item" routerLink="./contact">Contact</a>
         </li>
        
      </ul>

    </nav>
   </aside>
   <router-outlet></router-outlet>
</div>
