<section class="home">
    <div class="container-fluid d-flex ">
        <div class="details">
            <h1 >Hi, <br>
                 I'm Jyotishree, <br>
                Frontend Developer</h1>
            <p>Angular Developer</p>
           <div class="btnGrp d-flex">
                 <button class="btn btn-outline-success" routerLink="/contact">Contact Me</button>
                <a download="Jyoti-resume" href="./assets/Reume Updated -Aditri(new).docx" class="download-btn ">Download Resume</a>
           </div>
           
        </div>
        <div class="image d-flex  "> 
            <img src="./assets/photo.png" alt="">
           
        </div>
    </div>
</section>
