<section class="work">
    <div class="container-fluid">
        <h1>My Professional Experience :</h1>
        

        <!--carousel-->
        <div class="carouselSection">
            <div class="sliderWrap">
                 <div class="slider-main">
                     <div class="item">
                         <div class="text">
                            <div class="work-item">
                                <a> Aditri Tech World Pvt Ltd (December 2022– February 2023)</a>
                                <h3>Software Engineer</h3> 
                               
                                <p><span class="text-white fw-bold">Domain of Project :</span> Entertainment </p>
                                <p><span class="text-white fw-bold"> Duration:</span> 3 months</p>
                                
                               <p><span class="text-white fw-bold">Technologies used:</span>  Angular 8, Azure, Visual Studio 2022, MongoDB, .Net, </p>
                               <p><span class="text-white fw-bold"> Responsibilities:</span></p>
                               <p>•	Added frontend features to make application user friendly[eg-> virtual keypad,print-tweaks,pie-chart etc]</p>
                                <p>•	Create Task and Perform the same as per esteemed effort</p>
                                <p>•	Perform the test cases assigned for each task </p>
                    
                    
                            </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="text">
                            <div class="work-item">
                                <a> RJT Compuquest Inc. (December 2021– November 2022)</a>
                                <h3>Software Engineer</h3> 
                               
                                <p><span class="text-white fw-bold">Domain of Project :</span> Heath Domain </p>
                                <p><span class="text-white fw-bold"> Duration:</span> 11 months</p>
                                
                               <p><span class="text-white fw-bold">Technologies used:</span>  Angular 12, Azure, VS Code, MYSQL, Core Java, Spring Boot  </p>
                               <p><span class="text-white fw-bold"> Responsibilities:</span></p>
                               <p>•	Added frontend features to make application user friendly[eg->change layout of login page, new button add to navbar, grid table with REST API, pie-chart , fetching data from REST API and display in card etc]</p>
                                <p>• Performed Software testing and diagnosis, supporting ongoing software development</p>
                                <p>•	Devised test cases to support enhancement and expansion of functionality</p>
                                <p>•	Evaluated functionality and performance of existing software to best target new releases</p>
                    
                    
                            </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="text">
                            <div class="work-item">
                                <a> Webapps Software Solutions pvt. Ltd. (April 2021–December 2021)</a>
                                <h3>Jr. Web Designer</h3> 
                            
                                <p><span class="text-white fw-bold"> Duration:</span> 8 months</p>
                                
                               <p><span class="text-white fw-bold">Technologies used:</span> HTML5, CSS3, JS, Bootstrap </p>
                               <p><span class="text-white fw-bold"> Responsibilities:</span></p>
                               <p>•	Regularly collaborated with seniors about the task to achieve optimum result</p>
                               <p>•	Created framework to detect functionality and establish smooth performance</p>
                               <p>•	Created beautiful, highly effective web pages that performed brilliantly in mobile, laptop and tablet</p>
                               <p>•	Used HTML, CSS, JS, bootstrap to structure the webpages and provide smooth navigation.</p>
                    
                            </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="text">
                            <div class="work-item">
                                <a> Accenture (July 2019–November 2020)</a>
                                <h3>Platform Experience New Associate</h3> 
                               
                                <p><span class="text-white fw-bold">Domain of Project :</span> : Social media[Content Moderator] </p>
                                <p><span class="text-white fw-bold"> Duration:</span> 16 months</p>
                                
                               <p><span class="text-white fw-bold">Technologies used:</span> no technologies, tools used to perform tasks </p>
                               <p><span class="text-white fw-bold"> Responsibilities:</span></p>
                               <p>•	Screen Social Media platform to mark inappropriate posts (photos or videos)</p>
                               <p>•	Eliminate post which should not reach to public forum</p>
                               <p>•	Adherence to client SLA</p>
                               <p>•	Achieved daily target for Quality and Productivity</p>
                    
                            </div>
                         </div>
                     </div>
                    
                 </div>
                 <div class="buttonArea">
                     <button class="prevBtn btn btn-outline-success" appPrevbtn>Prev</button>
                     <button class="nextBtn btn btn-outline-success" appNextbtn>Next</button>
                 </div>
            </div>
    
         </div>
    </div>
   
</section>
