<section class="skills">
    <div class="container-fluid d-flex justify-content-between">
       <div class="details">
            <h1>My Skills :</h1>
            <ul>
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>Angular 8+ </label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="65"> 65% </progress>
                    </div>   
                </li> 
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>HTML 5 </label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="80"> 80% </progress>
                    </div> 
                </li>
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>CSS </label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="75"> 75% </progress>
                    </div>
                 </li>
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>Javascript </label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="70"> 70% </progress>
                    </div> 
                </li>
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>Core Java(basic knowledge)</label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="45"> 45% </progress>
                    </div> 
                </li>
                <li>
                    <div class="item d-flex justify-content-between align-items-center">
                        <label>Mysql(basic knowledge)</label> &nbsp; &nbsp;
                        <progress id="file" max="100" value="45"> 45% </progress>
                    </div> 
                </li>


            </ul>
       </div>
      
    </div>
</section>