section{
    .container-fluid{
      width:1200px;
       
            padding:6rem;
            h1{
                color:antiquewhite;
                font-size: 56px;
            }
          
            p{
                color:#819d81;
            }
           
       
    }
}